@tailwind base;

@tailwind components;

@tailwind utilities;


@font-face{
    font-family: "RennerLight";
    src: url("./Fonts/renner-light.otf")
}
@font-face{
    font-family: "RennerMedium";
    src: url("./Fonts/renner-medium.otf")
}
@font-face{
    font-family: "RennerBold";
    src: url("./Fonts/renner-bold.otf")
}